@import "/src/index.css";
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.6rem;
  font-weight: 700;
}
.logo::after{
  content:" .";
  color:var(--secondary-color);
  font-weight: 800;
  
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.nav{
  display: flex;
  gap: 3rem;
  align-items: center;
  
}

.hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  position: relative;
  
  
}
.container-right{
  
  height: 400px;
  width: 400px;
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.my-face{
  font-size:25rem;
  position: absolute;
  top: -20%;
  
}
.container-left{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-left > h4{
  color: var(--mid-color);
  font-size: 1.3rem;
  margin-bottom: -1rem;
}
.container-left > h1{
  font-size: 5rem;
  position: relative;
  left:-.4rem;
  transition: var(--transition);
}
.hero-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-social > a{
  font-size: 1.3rem;
  margin-right: 1.7rem;
}
