@import '../../index.css';
@import '../HeroPage/heroPage.css';



.custom-cursor{
  z-index: 1000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: var(--white-color);
  transition:all 100ms ease ;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0,0,0);
  position: fixed;
  mix-blend-mode: difference;
}
.logo:hover ~ .custom-cursor  {
  transform: scale(6);
  transition: var(--transition);
}